* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #fff;
}

.logo {
    position: fixed;
    margin-left: 1%;
    width : 120px;
    top: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

.image-section img {
    width: 49vw;
    height: auto;
}



.text-section a {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.text-section a:hover{
    transition: .2s;
    color: chocolate;
}

.text-section h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #666;
}

.text-section p {
    margin-bottom: 15px;
    font-size: 16px;
}

.text-section strong {
    font-size: 18px;
    display: block;
    margin-top: 15px;
    color: #000;
}
